# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/FrameworkTemplate.iml
.idea/compiler.xml
.idea/dataSources.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
target/
